<div class="w-full h-full">
    <mat-tab-group>
        <mat-tab label="Add User Workout">
            <app-add-user (userAdded)="usersComponent.loadUsers();progressChartComponent.loadUsers()"></app-add-user>
        </mat-tab>
        <mat-tab label="Workout Progress">
            <app-progress-chart #progressChartComponent></app-progress-chart>
        </mat-tab>
        <mat-tab label="All Users Workout List"> 
            <app-users #usersComponent></app-users>
        </mat-tab>
    </mat-tab-group>
</div>